/* these three properties in universal selctor is good practise to follow */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  /* to use 3d-view / z-axis we need to set the perspective on by giving some value  */
  perspective: 10px;
}

/* our aim to place the items on center, so i made a conatiner and set its property to display flex */
.container {
  /* to make the pictures absolute, i need to set there closest parent as non static element */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* to give 3-d nature to pictures, this is need to be done, without this, the images will stick to each other and will be viewd as they are in 2-d */
  transform-style: preserve-3d;
  height: 100%;
  /* to handle layering properties, z-index property is used */
  z-index: -1;
}

.background {
  /* to create a parallax effect, the background image need to set far from the viewer, and then scaled to cover the whole device width */
  transform: translateZ(-40px);
  /* door hone se uska size chota ho jayega, to image ko bada karne ke liye, scale kia */
  scale: 6;
}

.foreground {
  /*foreground image is set relatively less far, this will create a parallax effect, wherein the background image will be seen moving slowly as compared to foreground image */
  transform: translateZ(-20px);
  scale: 4;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* object fit property is used to specify how an image or video should be rezied to fit its contianer */
  object-fit: cover;
}

h1 {
  position: absolute;
  top: 5rem;

  font-size: 10rem;
  color: white;
  text-shadow: 10px 10px 20px rgba(128, 128, 128, 0.778);
}

section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5rem 0;
}

.secHeading {
  font-size: 5rem;
  padding: 0 10rem;
}

.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0;
}

.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.desc {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.bg1 {
  background-image: url(images/sport-1.jpg);
}

.bg2 {
  background-image: url(images/sport-2.jpg);
}

.bg3 {
  background-image: url(images/sport-3.jpg);
}
